@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
	height: 100%;
}

body {
	@apply bg-[#0B0F1A] text-white;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
